
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src:
    url('./noto-sans-kr-v13-latin_korean-100.woff2') format('woff2'),
    url('./noto-sans-kr-v13-latin_korean-100.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src:
    url('./noto-sans-kr-v13-latin_korean-300.woff2') format('woff2'),
    url('./noto-sans-kr-v13-latin_korean-300.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src:
    url('./noto-sans-kr-v13-latin_korean-regular.woff2') format('woff2'),
    url('./noto-sans-kr-v13-latin_korean-regular.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src:
    url('./noto-sans-kr-v13-latin_korean-500.woff2') format('woff2'),
    url('./noto-sans-kr-v13-latin_korean-500.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src:
    url('./noto-sans-kr-v13-latin_korean-700.woff2') format('woff2'),
    url('./noto-sans-kr-v13-latin_korean-700.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src:
    url('./noto-sans-kr-v13-latin_korean-900.woff2') format('woff2'),
    url('./noto-sans-kr-v13-latin_korean-900.woff') format('woff');
}
